# Файлы конфигурации ботов теперь хранятся в папке configd.
# Но файл .env в корневой директории тоже необходим.
# В нем необходимо указать: путь к базе данных и временную зону.
# Это общие переменные для всех ботов. Через него получают доступ к базе данных другие модули.
# Но можно оставить в файле .env и переменные бота CLUB_ID, ADMIN_IDSБ и BOT_TOKEN
# Тогда это будет как бы "нулевой" бот. Остальные будут использовать из него путь к БД но не токен

# BOT_TOKEN='token'
path_db='db.db'
# ADMIN_IDS=11111111111,22222222222,3333333333,553566456
# CLUB_ID = 1

# Часовой пояс для задач по расписанию
# Поддерживаются IANA-таймзоны: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Примеры:
# Asia/Novosibirsk    ← по умолчанию
# Europe/Moscow
# Asia/Yekaterinburg
# Asia/Omsk
# Europe/Kaliningrad
# Europe/Minsk
# Asia/Irkutsk
# Asia/Vladivostok
# America/New_York
# Europe/London
# UTC

TIMEZONE=Asia/Novosibirsk