# Виртуальное окружение
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
env.bak/
venv.bak/

# Локальные файлы VS Code
.vscode/
*.sublime-project
*.sublime-workspace

# Логи и временные файлы
*.log
*.sqlite3
*.csv
*.DS_Store

# Тестовые артефакты
test/__pycache__/
test/*.pyc
test/*.pyo

# Системные файлы
Thumbs.db
desktop.ini
Icon?
*.swp
*.swo
*~

# Папка configs — кроме example.env
/configs/*
!/configs/.gitkeep
!/configs/example.env


.env
dbg1.db
test.py
test2.py
test3.py
test_script.py
*.db
test*.*
test/
.mypy_cache/
.vscode/
venv/
__pycache__/
test/readf.py
change.sql
bot.log
bot_error.log
*logs.txt
bot*.py
.env_*
*.log
.pre-commit-config.yaml
