# Пример файла конфигурации для Telegram-бота
# Можно сделать несколько ботов и для каждого свой файл конфигурации
# bot01.env, bot02.env, bot03.env и т.д.
# Важно - следить чтоб не повторялись CLUB_ID и токены были уникальными
# Боты будут использовать одну базу данных и одно программное обеспечение, но работать автономно.
BOT_TOKEN=your_bot_token_here
ADMIN_IDS=[123456789]
CLUB_ID=1
TIMEZONE=Europe/Moscow
path_db='cityvote.db'