# Пример файла конфигурации для Telegram-бота
# Можно сделать несколько ботов и для каждого свой файл конфигурации
# bot01.env, bot02.env, bot03.env и т.д.
# Важно - следить чтоб не повторялись CLUB_ID и токены были уникальными
# Боты будут использовать одну базу данных и одно программное обеспечение, но работать автономно.
# Для запуска бота нужно ввести команду:
# BOT_INSTANCE=bot01 python main.py
# BOT_INSTANCE=bot02 python main.py где BOT_INSTANCE - название файла конфигурации
# Но можно воспользоваться файлом запуска run.py или run_linux.py
# Каждый из файлов run запускает бота для определенного файла конфигурации,
# подгружая при необходимости виртуальное окружение

# Для создания группы запустите club_initial_data_setup.py
# запускается так:
# python club_initial_data_setup.py bot01
# вместо bot01 укажите имя соотвествующего файла конфигурации без расширения .env

# Запустите бота для этой группы
# python run.py в Windows или run_Linux.py в Unix системе
# Установите переменную
# BOT_INSTANCE = "bot01" (или другое имя бота)

BOT_TOKEN=your_bot_token_here
ADMIN_IDS=[123456789, 987654321]
CLUB_ID=1
LANGUAGE='en'
TIMEZONE=Europe/Moscow
path_db='cityvote.db'